blockquote{
  padding: .75em .5em .75em 1em;
  background: #FFEBCD;
  color: #8B4513;
  word-wrap: normal;
  border-left: 0.5em solid #DDD;
}

/*
blockquote::before {
  display: block;
  height: 0;
  content: "“";
  margin-left: -.95em;
  font: italic 400%/1 Open Serif,Georgia,"Times New Roman", serif;
  color: #999;
}
*/

/* for nested paragraphs in block quotes */
blockquote p {
  display: inline;
}

