---
layout: default
---
<div class="row">
  <div class="col-sm-12 blog-main">

    <hr>
    <center>
      <div class=row>
	
        <div class="col-md-5"><img src="/assets/images/site/ion-collision-xparent-cropped.png" class="navbar navbar-dark bg-dark"  width="370"/></div>
	
        <div class="col-md-5">
          <p class="lead">
	    <h4>Purpose of this site</h4>
	    This is the main portal to the EIC software, repositories, documentation and resources.
	    It is developed and maintained by the EIC Software Group.
	    <hr/>
	    {% include people/conveners.md format='html' %}
	  </p>
	</div> <!-- class md5 -->
      </div> <!-- class row -->

    </center> <!-- class sm12 blog main -->
    <hr/>
    {% if site.display_news %}
    <h4>News</h4>
  {% assign sitedate = site.time | date: "%Y-%m-%d"   %}
  {% for post in site.news %}
    {% assign stopdate = post.until | string_to_date | date: "%Y-%m-%d" %}
    {% if stopdate > sitedate %}
<div class="row alert alert-news">
  <p class="lead event-announce">
    <a href="{{ post.url }}">
      <span class="glyphicon {{ post.symbol }}" aria-hidden="true"></span> {{ post.title }}
    </a>
  </p>
</div>
    {% endif %}
  {% endfor %}
    {% endif %}
  </div> <!-- class row -->

