---
layout: default
---
<div class="row">
  <div class="col-sm-12 blog-main">

    <hr>
    <center>
      <div class=row>
	
        <div class="col-md-5"><img src="{{ site.splash | relative_url }}" class="navbar navbar-dark bg-dark"  width="370"/></div>
	
        <div class="col-md-5">
          <p class="lead">
	    <h4>Purpose of this site</h4>
	    This is the main portal to the EIC software, repositories, documentation and resources.
	    It is developed and maintained by the EIC Software Group.
	    <hr/>
	    {% include people/conveners.md format='html' %}
	  </p>
	</div> <!-- class md5 -->
      </div> <!-- class row -->

    </center> <!-- class sm12 blog main -->
    <hr/>
    {% if site.display_news %}
    {% include news/homenews.md %}
    {% endif %}
  </div> <!-- class row -->

