---
layout: default
---

<!-- center><img src="/assets/images/site/under-construction-1-clipart.png" width="200"/><br/></center -->

<div class="row">
  <div class="col-sm-12 blog-main">

    <hr>
    <center>
      <div class=row>
        <div class="col-md-5">
	  <img src="/assets/images/site/ion-collision-xparent-cropped.png" class="navbar navbar-dark bg-dark"  width="300"/>
        </div>
        <div class="col-md-5">
          <p class="lead">

	    This is the website of the EIC Software Group.
	    It is the main portal to the EIC software, repositories, documentation and resources.

	  </p>

	</div>
      </div>
    </center>

  </div>
</div>
