<div class=" mx-auto">
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark"><!-- ...Fixed navbar... -->
  <div class="container">
    <a class="navbar-brand" href="{{ '/' | relative_url }}"><img src="{{ '/assets/images/site/EIClogo_small.png' | relative_url }}" height="22" width="22"> Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
	
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
	<!-- li class="nav-item active"><a class="nav-link" href="{{ '/' | relative_url }}">Home</a></li -->
	{% for menu in site.data.menus %}
	{% include layouts/autodrop_data.md what=menu.name %}
	{% endfor %}
      </ul><ul class="navbar-nav mr-auto text-right">
	{% include layouts/autodrop.md title='About'	what=site.about %}
      </ul>
    </div>
  </div>
</nav>
</div>
